extends layout.pug

block head
  //- link(rel='stylesheet', href='/node_modules/datatables/media/css/jquery.dataTables.min.css')
  link(rel='stylesheet', href=basePath + '/node_modules/datatables-bootstrap/css/dataTables.bootstrap.min.css')
  title Checklists :: CCDB


block content
  .container
    h1= title
    p Welcome to title

block content
  
  .container
    br
    form.form-inline#updateStatusForm(data-bind='with: updateStatusForm')
      .form-group
        label(for='updateSubject') !{'Subject:&nbsp;'}
        select.form-control(data-bind='options: subjectOptions, optionsValue: "name", optionsText: "desc", value: subject')
      .form-group
        label(for='updateStatus') !{'&nbsp;Status:&nbsp;'}
        select.form-control(data-bind='options: valueOptions, value: value')
        input.form-control(type='text', data-bind='enable: requireComment, textInput: comment')
      .form-group
        button.btn.btn-primary(type='button', data-bind='enable: canUpdate, click: update') Update
    // Modal dialog for confirm update status
    .modal.fade#updateStatusModal(role='dialog', tabindex=-1, data-bind='with: updateStatusModal')
      .modal-dialog
        .modal-content
          .modal-header Update Checklist Status
          .modal-body
            table.table
              thead
                tr
                  th
                    span Name
                  th
                    span(data-bind='text: subject().name')
                  th
                    span Status
              tbody(data-bind='foreach: rows')
                tr
                  td
                    span(data-bind='text: data.targetName')
                  td
                    span(data-bind='text: $parent.value')
                  td
                    span.fa(data-bind='css: { "fa-circle-o": status() === "NONE", "fa-spinner": status() === "WAIT", "fa-spin": status() === "WAIT", "fa-check-circle": status() === "DONE", "fa-exclamation-circle": status() === "FAIL", "text-success": status() === "DONE", "text-danger": status() === "FAIL" }, attr: { title: message }')
          .modal-footer
            button.btn.btn-primary(type='button', data-bind='click: update, enable: canUpdate') Update
            button.btn.btn-default(type='button', data-bind='click: close, enable: canClose') Close
    br
    .tab-pane.active#checklists
      //- .table-responsive
      //- .table-condensed
      .hidden#checklists-message
      table.table.table-bordered.table-hover.hidden#checklists-table

block js
  script(type='text/javascript', src=basePath + '/node_modules/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables-bootstrap/js/dataTables.bootstrap.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/knockout/build/output/knockout-latest.js')
  script(type='text/javascript', src=basePath + '/js/shared/webutil.js')
  script(type='text/javascript', src=basePath + '/js/datatablesutil.js')
  script(type='text/javascript', src=basePath + '/js/checklists-table.js')
  script(type='text/javascript') var checklistTargetType = '#{targetType}'
