extends layout.pug

block head
  title #{device.name} :: CCDB

block content
  br
  #message
  .container
    .row
      .col-md-6
        .panel.panel-primary
          .panel-heading
            h4 Device
          .panel-body
            include ./web/device-details.pug
      .col-md-6
        .panel.panel-default
          .panel-heading
            h4 Installation
          .panel-body.hidden#install-panel
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading.clearfix
            .pull-left
              h4 Checklist
            .pull-right
              h4.fa.fa-spinner.fa-spin.hidden#checklist-spin
              button.btn.btn-primary.hidden#checklist-assign(type='button', disabled) Assign
              //- button.btn.btn-primary.hidden#checklist-unassign(type='button', disabled) Unassign
          .panel-body.hidden#checklist-panel

block js
  //- script(type='text/javascript', src='/typeahead.js/dist/typeahead.bundle.js')
  //- script(type='text/javascript', src='/javascripts/typeahead.js')
  script(type='text/javascript', src=basePath + '/js/shared/webutil.js')
  script(type='text/javascript', src=basePath + '/js/templates/slot-details.js')
  script(type='text/javascript', src=basePath + '/js/templates/device-details.js')
  script(type='text/javascript', src=basePath + '/js/templates/checklist-update.js')
  script(type='text/javascript', src=basePath + '/js/templates/checklist-edit.js')
  script(type='text/javascript', src=basePath + '/js/templates/checklist-edit-row.js')
  script(type='text/javascript', src=basePath + '/js/checklistutil.js')
  script(type='text/javascript', src=basePath + '/js/device-action.js')
  script(type='text/javascript') var device = !{JSON.stringify(device)};
