extends layout.pug

block head
  //- link(rel='stylesheet', href='/node_modules/datatables/media/css/jquery.dataTables.min.css')
  link(rel='stylesheet', href=basePath + '/node_modules/datatables-bootstrap/css/dataTables.bootstrap.min.css')
  title Devices :: CCDB


block content
  .container
    br
    .tab-pane.active#devices
      .table-responsive
        table.table.table-condensed.table-bordered.table-hover#devices-table


block js
  script(type='text/javascript', src=basePath + '/node_modules/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables-bootstrap/js/dataTables.bootstrap.min.js')
  script(type='text/javascript', src=basePath + '/js/datatablesutil.js')
  script(type='text/javascript', src=basePath + '/js/devices-table.js')
