header
  //- Not sure why the navbar-fixed-top class is needed?
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href=basePath + '/') CCDB
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href=basePath + '/devices') Devices
          li
            a(href=basePath + '/slots') Slots
          li
            a(href=basePath + '/groups/slot') Slot Groups
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Checklists
              b.caret
            ul.dropdown-menu
              li
                a(href=basePath + '/checklists?type=DEVICE') Devices
              li
                a(href=basePath + '/checklists?type=SLOT') Slots and Slot Groups
          //-if (locals.session && locals.session.userid && locals.session.roles && locals.session.roles.admin)
            li
              a(href='/admin/', target='_blank') Admin
        ul.nav.navbar-nav.navbar-right
          if (auth && auth.username)
            li
              img.img-responsive(style='height: 50px;', src=forgurl + '/api/v1/users/' + auth.username + '/photo', title=auth.username, alt=auth.username)
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') #{auth.user.fullname ? auth.user.fullname : auth.username}
                b.caret
              ul.dropdown-menu
                //- li
                //-  a(href=forgurl + '/users/' + auth.username, target='_blank') Profile
                li
                  a(href=basePath + '/logout') Log out
          else
            li
              i.fa.fa-user.fa-3x
            li
              a(href=basePath + '/login', onclick='try { window.location.href = this.href + "?bounce=" + encodeURIComponent(window.location); return false; } catch (err) { return true; }') Log in
