extends layout-history.pug

block head
  link(rel='stylesheet', href='/node_modules/datatables-bootstrap/css/dataTables.bootstrap.min.css')
  title #{group.name} :: RunCheck


block content
  .container
    #message
    #modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h3#modalLabel
          .modal-body
            .panel
            select
          .modal-footer
    #slot-group-details
      h3 Slot Group
      .row
        .col-md-6
          table.table
            thead
              tr
                th Name
                th= group.name
            tbody
              tr
                th Description
                td= group.desc
              tr
                th Area
                td= group.owner
          hr
  br
  .container
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading.clearfix
            .pull-right
              form.form-inline.clearfix(data-bind='with: deleteSlotButton')
                button.btn.btn-primary.pull-right(type='button', data-bind='click: deleteSlot, enable: canDelete')
                  | Remove
            .pull-left
              h4 Slots
          .panel-body
            .table-responsive
              table.table.table-condensed.table-bordered.table-hover#slot-table
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading.clearfix
            .pull-left
              h4 Checklist
            .pull-right
              h4.fa.fa-spinner.fa-spin.hidden#checklist-spinner
              button.btn.btn-primary.hidden#checklist-assign(type='button', disabled='disabled') Assign
          .panel-body.hidden#checklist-panel
  .container
    .modal.fade#removeSlotModal(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true', data-bind='with: deleteSlotModal')
      .modal-dialog
        .modal-content
          .modal-header
            h4#delete_message
          .modal-body
            #message2
            form
              button.btn.btn-primary.pull-right(type='button', data-bind='click: deleteSlot, enable: canSubmit') Remove
              button.btn.btn-default(type='button', data-bind='click: close, enable: canClose') Close

  //-.panel.panel-default(style="margin-top: 10px")
    .panel-heading
      strong Basic Infomation
    .panel-body
      .table-responsive
        table.table.table-condensed
          thead
            tr
              th Name
              th Created By
              th Created On
              th Area
              th Description
          tbody
            tr
              td #{group.name}
              td #{group.createdBy}
              td #{group.createdOn}
              td #{group.area}
              td #{group.description}
  //-.panel.panel-default
    .panel-heading
      strong Slots
    .panel-body
      button.btn.btn-primary#remove
        | Remove
      br
      br
      #slots.tab-pane.active
        .table-responsive
          table#spec-slots-table.table.table-bordered.table-hover
block js
  //- script(type='text/javascript', src='/holderjs/holder.min.js')
  script(type='text/javascript', src='/js/shared/webutil.js')
  script(type='text/javascript', src='/node_modules/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src='/node_modules/datatables-bootstrap/js/dataTables.bootstrap.min.js')
  script(type='text/javascript', src='/node_modules/knockout/build/output/knockout-latest.js')
  script(type='text/javascript', src='/js/datatablesutil.js')
  script(type='text/javascript', src='/js/checklistutil.js')
  script(type='text/javascript', src='/js/templates/checklist-input.js')
  script(type='text/javascript', src='/js/templates/checklist-config.js')
  script(type='text/javascript', src='/js/templates/checklist-config-item.js')
  script(type='text/javascript', src='/js/slot-group-action.js')
  script(type='text/javascript', src='/js/authutil.js')
  script(type='text/javascript') group = !{JSON.stringify(group)};
