extends layout.pug

block head
  link(rel='stylesheet', href=basePath + '/node_modules/datatables-bootstrap/css/dataTables.bootstrap.min.css')
  title Slot Groups :: CCDB


block content
  .container
    br
    .tab-pane.active#slot-groups
      .table-responsive
        table.table.table-condensed.table-bordered.table-hover#slot-groups-table

block js
  script(type='text/javascript', src=basePath + '/node_modules/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables-bootstrap/js/dataTables.bootstrap.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/knockout/build/output/knockout-latest.js')
  script(type='text/javascript', src=basePath + '/js/shared/webutil.js')
  script(type='text/javascript', src=basePath + '/js/datatablesutil.js')
  script(type='text/javascript', src=basePath + '/js/slot-groups-table.js')
  script(type='text/javascript', src=basePath + '/js/slot-groups-action.js')
