extends layout.pug

block head
  link(rel='stylesheet', href=basePath + '/node_modules/datatables.net-bs/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href=basePath + '/node_modules/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')
  title Slot Groups :: CCDB


block content
  .container
    br
    .row#slot-groups
      .col-lg-12
        table.table.table-condensed.table-bordered.table-hover#slot-groups-table

block js
  script(type='text/javascript', src=basePath + '/node_modules/datatables.net/js/jquery.dataTables.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables.net-bs/js/dataTables.bootstrap.js')
  script(type='text/javascript', src=basePath + '/node_modules/knockout/build/output/knockout-latest.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables.net-buttons/js/buttons.flash.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables.net-buttons/js/buttons.html5.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables.net-buttons-bs/js/buttons.bootstrap.js')
  script(type='text/javascript', src=basePath + '/node_modules/jszip/dist/jszip.min.js')
  script(type='text/javascript', src=basePath + '/js/shared/webutil.js')
  script(type='text/javascript', src=basePath + '/js/datatablesutil.js')
  script(type='text/javascript', src=basePath + '/js/slot-groups-table.js')
  script(type='text/javascript', src=basePath + '/js/slot-groups-action.js')
