extends layout.pug

block head
  link(rel='stylesheet', href=basePath + '/node_modules/datatables.net-bs/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href=basePath + '/node_modules/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')
  title Slots :: CCDB


block content
  .container
    br
    .modal.fade#newGroupModal(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true', data-bind='with: newGroupModal')
      .modal-dialog
        .modal-content
          .modal-header
            h3 Create new slot group
          .modal-body
            #message
            form.form-horizontal
              .form-group
                label.col-sm-2.control-label Name
                .col-sm-10
                  input.form-control(type='text', data-bind='value: name')
              .form-group
                label.col-sm-2.control-label Owner
                .col-sm-10.form-control-static
                  strong(data-bind='text: groupOwner')
              .form-group
                label.col-sm-2.control-label Safety Designation
                .col-sm-10.form-control-static
                  strong(data-bind='text: safetyDesig')
              .form-group
                label.col-sm-2.control-label Description
                .col-sm-10
                  input.form-control(type='text', data-bind='value: description')
              button.btn.btn-primary.pull-right(type='button', data-bind='click: createNewGroupandAddSlot, enable: canSubmit') Create
              button.btn.btn-default(type='button', data-bind='click: close, enable: canClose') Close
    .modal.fade#existingGroupModal(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true', data-bind='with: existingGroupModal')
      .modal-dialog
        .modal-content
          .modal-header
            h3 Add to slot group
          .modal-body
            #message2
            form.form-horizontal
              .form-group
                label.col-sm-4.control-label Slot Group
                .col-sm-8
                  select.form-control(data-bind='options: groupOptions, value: selectedGroup')
              button.btn.btn-primary.pull-right(type='button', data-bind='click: addToExistingGroup, enable: canSubmit') Add
              button.btn.btn-default(type='button', data-bind='click: close, enable: canClose') Close
    .row
      .col-lg-12
        .btn-toolbar(role='toolbar')
          .btn-group(role='group', data-bind='with: newGroupButton')
            button.btn.btn-primary.pull-right(type='button', data-bind='click: createNewGroup, enable: canCreate')
              | New Slot Group
          .btn-group(role='group', data-bind='with: existingGroupButton')
            button.btn.btn-primary.pull-right(type='button', data-bind='click: addToExistingGroup, enable: canAdd')
              | Add to Slot Group
    br
    .row#slots
      .col-lg-12
        table.table.table-condensed.table-bordered.table-hover#slots-table


block js
  script(type='text/javascript', src=basePath + '/node_modules/datatables.net/js/jquery.dataTables.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables.net-bs/js/dataTables.bootstrap.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables.net-buttons/js/buttons.flash.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables.net-buttons/js/buttons.html5.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables.net-buttons-bs/js/buttons.bootstrap.js')
  script(type='text/javascript', src=basePath + '/node_modules/jszip/dist/jszip.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/knockout/build/output/knockout-latest.js')
  script(type='text/javascript', src=basePath + '/js/shared/webutil.js')
  script(type='text/javascript', src=basePath + '/js/datatablesutil.js')
  script(type='text/javascript', src=basePath + '/js/slots-table.js')
  if forgurl
    script(type='text/javascript') var forgurl = '#{forgurl}'
