extends layout.pug

block head
  link(rel='stylesheet', href=basePath + '/node_modules/datatables-bootstrap/css/dataTables.bootstrap.min.css')
  title #{group.name} :: CCDB


block content
  .container
    #message
    .modal.fade#modal(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h3#modalLabel
          .modal-body
            .panel
            select
          .modal-footer
    #slot-group-details
      h3 Slot Group
      .row
        .col-md-6
          table.table
            thead
              tr
                th Name
                th= group.name
            tbody
              tr
                th Description
                td= group.desc
              tr
                th Area
                td= group.owner
              tr
                th Safety Designation
                case group.safetyLevel
                  when 'NONE': td None
                  when 'CONTROL': td Control
                  when 'CREDITED': td Credited Control
                  when 'CONTROL_ESH': td Control with ESH Impact
                  when 'CREDITED_ESH': td Credited Control with ESH Impact
                  default: td= group.safetyLevel
          hr
  br
  .container
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading.clearfix
            .pull-right
              form.form-inline.clearfix(data-bind='with: deleteSlotButton')
                button.btn.btn-primary.pull-right(type='button', data-bind='click: deleteSlot, enable: canDelete')
                  | Remove
            .pull-left
              h4 Slots
          .panel-body
            .table-responsive
              table.table.table-condensed.table-bordered.table-hover#slot-table
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading.clearfix
            .pull-left
              h4 Checklist
            .pull-right
              h4.fa.fa-spinner.fa-spin.hidden#checklist-spin
              button.btn.btn-primary.hidden#checklist-assign(type='button', disabled='disabled') Assign
          .panel-body.hidden#checklist-panel
  .container
    .modal.fade#removeSlotModal(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true', data-bind='with: deleteSlotModal')
      .modal-dialog
        .modal-content
          .modal-header
            h4#delete_message
          .modal-body
            #message2
            form
              button.btn.btn-primary.pull-right(type='button', data-bind='click: deleteSlot, enable: canSubmit') Remove
              button.btn.btn-default(type='button', data-bind='click: close, enable: canClose') Close

block js
  //- script(type='text/javascript', src='/holderjs/holder.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/datatables-bootstrap/js/dataTables.bootstrap.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/knockout/build/output/knockout-latest.js')
  script(type='text/javascript', src=basePath + '/js/shared/webutil.js')
  script(type='text/javascript', src=basePath + '/js/datatablesutil.js')
  script(type='text/javascript', src=basePath + '/js/checklistutil.js')
  script(type='text/javascript', src=basePath + '/js/templates/checklist-update.js')
  script(type='text/javascript', src=basePath + '/js/templates/checklist-edit.js')
  script(type='text/javascript', src=basePath + '/js/templates/checklist-edit-row.js')
  script(type='text/javascript', src=basePath + '/js/slot-group-action.js')
  script(type='text/javascript') group = !{JSON.stringify(group)};
