extends layout.pug

block head
  title #{slot.name} :: CCDB
  link(rel='stylesheet', href=basePath + '/node_modules/select2/dist/css/select2.min.css')
  link(rel='stylesheet', href=basePath + '/node_modules/select2-bootstrap-theme/dist/select2-bootstrap.min.css')
  link(rel='stylesheet', href=basePath + '/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css')

block content
  br
  .container
    #message
    .row
      .col-md-6
        .panel.panel-primary
          .panel-heading
            h4 Slot
          .panel-body
            include ./web/slot-details.pug
      .col-md-6
        .panel.panel-default
          .panel-heading.clearfix
            .pull-left
              h4 Installation
            .pull-right
              h4.fa.fa-spinner.fa-spin.hidden#install-spin
              button.btn.btn-primary.hidden#install(type='button', disabled) Install
              //- button.btn.btn-primary.hidden#uninstall(type='button', disabled) Uninstall
          .panel-body
            form.hidden#install-form
              .form-group
                label(for='install-name') Device
                select.form-control#install-name(style='width:100%')
                  option(value='', selected, disabled) Select a Device
              .form-group
                label(for='install-date') Date
                input.form-control#install-date(type='text', placeholder='Select a Date')
              button.btn.btn-primary.pull-right#install-save(type='submit') Save
              button.btn.btn-default#install-cancel(type='button') Cancel
              hr
            #install-panel
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading.clearfix
            .pull-left
              h4 Checklist
            .pull-right
              h4.fa.fa-spinner.fa-spin.hidden#checklist-spin
              button.btn.btn-primary.hidden#checklist-assign(type='button', disabled) Assign
              button.btn.btn-primary.hidden#checklist-unassign(type='button', disabled) Unassign
          .panel-body.hidden#checklist-panel
  //-.panel.panel-default
    .panel-heading
      strong Basic Infomation
    .panel-body
      .table-responsive
        table.table.table-condensed
          thead
            tr
              th Name
              th Device type
              th Approval status
              th Slot group
              th Installed device
          tbody
            tr
              td= slot.name
              td= slot.deviceType
              -
                var statusMap = {0: 'Device not installed',
                  1: 'Device installed',
                  2: 'DO OK',
                  2.5: 'Slot DRR checklist',
                  3: 'AM approved',
                  4:'DRR approved'
                };
              td#status= statusMap[slot.status]
              if (slot.inGroup)
                - var sotGroupUrl = {'href': '/slotGroups/' + slot.inGroup._id};
                td
                  a&attributes(sotGroupUrl) #{slot.inGroup.name}
              else
                td N/A
              if (slot.device)
                - var deviceUrl = {'href': '/devices/' + slot.device.id};
                td#device
                  a&attributes(deviceUrl) #{slot.device.serialNo}
              else
                td#device N/A
      //-button#list-slot.btn.btn-default.fa.fa-chevron-down(aria-hidden='true',title='show more details') more
      //-.row
        .col-md-6.col-md-offset-3
          .table-responsive
            table.table
              tbody#slot-detail
                tr
                  th Accumulated center-to-center Length (m)
                  td= slot.center2centerLength
                tr
                  th Accumulated end-to-end Length (m)
                  td= slot.end2endLength
                tr
                  th Associated area
                  td=slot.area
                tr
                  th Beam line position (dm)
                  td= slot.beamlinePosition
                tr
                  th Comment
                  td= slot.comment
                tr
                  th Device naming
                  td= slot.deviceNaming
                tr
                  th Element Effective Length (m)
                  td= slot.effectiveLength
                tr
                  th Element Flange to Flange Length (m)
                  td= slot.flangeLength
                tr
                  th Element name
                  td= slot.elementName
                tr
                  th Global Coordinate X (m)
                  td= slot.coordinateX
                tr
                  th Global Coordinate Y (m)
                  td= slot.coordinateY
                tr
                  th Global Coordinate Z (m)
                  td= slot.coordinateZ
                tr
                  th Level of care
                  td= slot.level
                tr
                  th Minimum Beam Pipe Inner Diameter (mm)
                  td= slot.InnerDiameter
                tr
                  th Machine mode
                  td= slot.machineMode
                tr
                  th Owner
                  td= slot.owner
                tr
                  th PLACE HOLDER
                  td= slot.placeHolder
                tr
                  th System
                  td= slot.system
                tr
                  th Sub-system
                  td= slot.subsystem
  //-button.btn.btn-space.btn-primary#DO-approve DO Approve
  //-button.btn.btn-space.btn-primary#AM-approve AM Approve
  //-button.btn.btn-space.btn-primary#DRR-approve DRR Approve
  //-br
  br
  //-.panel.panel-default
    .panel-heading
      strong Checklist
    .panel-body
//- block history
  each h in slot.__updates.reverse()
    +change(h, moment)
block js
  script(type='text/javascript', src=basePath + '/node_modules/select2/dist/js/select2.min.js')
  script(type='text/javascript', src=basePath + '/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
  //- script(type='text/javascript', src='/node_modules/typeahead.js/dist/typeahead.bundle.min.js')
  //- script(type='text/javascript', src='/javascripts/typeahead.js')
  script(type='text/javascript', src=basePath + '/js/shared/webutil.js')
  script(type='text/javascript', src=basePath + '/js/checklistutil.js')
  script(type='text/javascript', src=basePath + '/js/templates/device-details.js')
  script(type='text/javascript', src=basePath + '/js/templates/checklist-update.js')
  script(type='text/javascript', src=basePath + '/js/templates/checklist-edit.js')
  script(type='text/javascript', src=basePath + '/js/templates/checklist-edit-row.js')
  script(type='text/javascript', src=basePath + '/js/authutil.js')
  script(type='text/javascript', src=basePath + '/js/slot-action.js')
  script(type='text/javascript') var slot = !{JSON.stringify(slot)};
