tr.form-group.cl-subject(id=row.name)
  td.text-left
    if row.isCustom()
      button.btn.btn-danger.cl-subject-remove(type='button')
        span.glyphicon.glyphicon-minus
    else
      .form-control-static
        span.like-btn.glyphicon.glyphicon-lock.cl-subject-lock
  td.text-left
    if row.isCustom()
      input.form-control.cl-subject-desc(type='text', value=row.desc)
    else
      input.form-control.cl-subject-desc(type='text', value=row.desc, disabled)
  td.text-center
    if row.mandatory
      input.checkbox-inline.cl-subject-required(type='checkbox', value='true', checked, disabled)
    else if row.required
      input.checkbox-inline.cl-subject-required(type='checkbox', value='true', checked)
    else
      input.checkbox-inline.cl-subject-required(type='checkbox', value='true')
  td.text-left
    if row.primary
      input.form-control.cl-subject-assignee(type='text', value=row.assignees.join(','), disabled)
    else
      input.form-control.cl-subject-assignee(type='text', value=row.assignees.join(','))
  td.text-left
    .form-control-static
      if row.requestStatus === 'DONE'
        //- span.fa(data-bind='css: { "fa-circle-o": status() === "NONE", "fa-spinner": status() === "WAIT", "fa-spin": status() === "WAIT", "fa-check-circle": status() === "DONE", "fa-exclamation-circle": status() === "FAIL"
        span.like-btn.text-success.fa.fa-check-circle.cl-subject-update-status
      else if row.requestStatus === 'FAIL'
        span.like-btn.text-danger.fa.fa-exclamation-circle.cl-subject-update-status(title=row.requestStatusMsg)
      else
        span.like-btn.cl-subject-update-status
