table.table
  thead
    tr
      th Name
      if embedded
        th
          a.monospace(href=basePath + '/devices/'+device.name, target='_blank')= device.name
      else
        th
          span.monospace= device.name
  tbody
    tr
      th Description
      td= device.desc
    tr
      th Type
      td= device.deviceType
    tr
      th Department
      td= device.dept
    if embedded && device.installSlotOn
      - var d = new Date(device.installSlotOn);
      th Installed
      td #{d.getUTCMonth()+1}/#{d.getUTCDate()}/#{d.getUTCFullYear()}
