table.table
  thead
    tr
      th Name
      if embedded
        th
          a.text-monospace(href=basePath + '/slots/'+slot.name, target='_blank')= slot.name
      else
        th
          span.text-monospace= slot.name
  tbody
    tr
      th Description
      td= slot.desc
    if !embedded
      tr
        th Type
        td= slot.deviceType
    tr
      th Area
      td= slot.area
    if !embedded
      tr
        th Level of Care
        case slot.careLevel
          when 'LOW': td Low
          when 'MEDIUM': td Medium
          when 'HIGH': td High
          default: td= slot.careLevel
      tr
        th Safety Designation
        case slot.safetyLevel
          when 'NONE': td None
          when 'CONTROL': td Control
          when 'CREDITED': td Credited Control
          when 'CONTROL_ESH': td Control with ESH Impact
          when 'CREDITED_ESH': td Credited Control with ESH Impact
          default: td= slot.safetyLevel
      tr
        th DRR
        td= slot.drr
      tr
        th ARR
        td= slot.arr
    if embedded && slot.installDeviceOn
      - var d = new Date(slot.installDeviceOn);
      th Installed
      td #{d.getUTCMonth()+1}/#{d.getUTCDate()}/#{d.getUTCFullYear()}
if slot.groupId
  h4.pull-right
    a(href=basePath + '/groups/slot/'+slot.groupId) Go to Group
