table.table
  thead
    tr
      th Name
      if embedded
        th
          a(href=basePath + '/slots/'+slot.name, target='_blank')= slot.name
      else  
        th= slot.name
  tbody
    tr
      th Description
      td= slot.desc
    if !embedded
      tr
        th Type
        td= slot.deviceType
    tr
      th Area
      td= slot.area
    if !embedded
      tr
        th Level of Care
        td= slot.careLevel
      tr
        th Level of Safety
        td= slot.safetyLevel
      tr
        th DRR
        td= slot.drr
      tr
        th ARR
        td= slot.arr
    if embedded && slot.installDeviceOn
      - var d = new Date(slot.installDeviceOn);
      th Installed
      td #{d.getUTCMonth()+1}/#{d.getUTCDate()}/#{d.getUTCFullYear()}
if slot.groupId
  h4.pull-right
    a(href=basePath + '/groups/slot/'+slot.groupId) Go to Group
